
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<footer class="footer">
  <div class="foot-container">
    <div class="row">
      <div class="footer-cal">
        <h4>company</h4>
        <ul>
          <li><a href="#">abouts</a></li>
          <li><a href="#">our service</a></li>
          <li><a href="#">privacy policy</a></li>
          <li><a href="#">affiliate program</a></li>
        </ul>
      </div>
      <div class="footer-cal">
        <h4>get help</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">shipping</a></li>
          <li><a href="#">Order Status</a></li>
          <li><a href="#">Subscription</a></li>
        </ul>
      </div>
      <div class="footer-cal">
        <h4>follow us</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/pages/Cosmopolitan%20Funeral%20Homes,inc.%20Iligan%20City/578669102205560/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </div>  
      </div>
    </div>
  </div>
</footer>