{% load static %}
<!DOCTYPE html>   
<html lang="en">

{% include 'header.html'%}

<body>
    <div class="mainlogo">
        <img class="" src="https://ik.imagekit.io/2dhtdmfmab/Cosmopolitan-Memorial-Chapel_logo.png?updatedAt=1714402785265" alt="argus logo">
      </div>
    {% include 'nav.html'%}
    <div class="funeral">
        <h1>Payment History</h1>
    </div>
   <div class="table-design">
    <table>
        <thead>
            <tr>
                <th>Paypal Reference Number</th>
                <th>Mode of Payment</th>
                <th>Date</th>
                <th>Next Payment</th>
                <th>Total</th>
                <th>Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.booking.mop }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.booking.reminder.next_payment_date }}</td>
                <td>₱{{ transaction.booking.plan.price }}</td>
                <td>₱{{ transaction.amount }}</td>
                <td>₱{{ transaction.booking.balance }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% include 'footer.html' %}
</body>
</html>